@import '../../../@denstep-core/const/styles.scss';

.admin-panel {
    width: 100%;
    height: 100vh;
    display: flex;

    &__container {
        margin: auto;
    }

    &__items-container {
        margin: auto;
        padding: 64px;
        border-radius: 3px;
        list-style-type: none;
    }
}
