.admin-panel {
    width: 100%;
    height: 100%;
    display: flex;

    &__container {
        margin: auto;
        padding: 64px;
        // background: white;
        border-radius: 3px;
        list-style-type: none;

        & li {
            font-family: 'Roboto', sans-serif;
            margin-top: 8px;

            & h1 {
                & a {
                    text-decoration: none;
                    color: rgb(26, 33, 76);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
