.good-items {
    display: flex;
    width: 100%;
    height: 100%;

    &__container {
        margin: auto;
        width: 80%;
    }

    &__paper-wrapper {
        width: 100%;
        height: 100%;
    }

    &__pagination-container {
        margin-top: 16px;
        display: inline-flex;
        float: right;
    }
}
