.good-item-edit {
    display: flex;
    width: 100%;
    height: 100%;

    &__container {
        margin: auto;
        width: 80%;
        display: grid;
    }

    &__paper-wrapper {
        width: 100%;
        height: 100%;

        & .select-box, & .edit-text {
            margin-top: 32px;
        }
    }

    &__switch-wrapper {
        display: flex;
        flex-direction: row;
    }

    &__switch-item-wrapper {
        margin-right: 8px;
    }

    &__control-wrapper {
        width: 200px;
        margin-top: 16px;
        margin-left: auto;
    }
}
