.good-item-edit {
    display: flex;
    width: 100%;
    height: 100vh;

    &__container {
        margin: auto;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2vw;

        & .paper {
            margin-top: 32px;
        }
    }

    &__paper-wrapper {
        width: 100%;
        height: 100%;

        & .select-box, & .edit-text {
            margin-top: 32px;
        }
    }

    &__switch-wrapper {
        display: flex;
        flex-direction: column;
    }

    &__switch-item-wrapper {
        margin-top: 16px;

        &:first-child {
            margin: 0;
        }
    }

    &__control-wrapper {
        width: 200px;
        margin-top: 16px;
        margin-left: auto;
        grid-column: 2;
    }
}
