.social {
    &__social-container {
        height: 40px;
        margin-top: 8px;
    }

    &__social-item {
        & img {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
}
