.browser-button {
    width: 100%;
    height: 100%;
    cursor: pointer;

    &__container {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5px;
        background-color: #f23e59;
        color: white;
        text-align: center;
        padding: 8px;

        &:hover {
            background-color: #ca3248;
        }
    }
}
