@import '../../const/styles.scss';

.image-button {
    width: 32px;
    height: 32px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    background: $theme_purple__primary-dark-color;
    display: flex;
    transition: all .2 ease;

    &:hover {
        opacity: .7;
    }

    &__container {
        margin: auto;
        width: 16px;
        height: 16px;

        & img {
            width: 16px;
            height: 16px;
        }
    }
}
