@import '../../const/styles.scss';

.image-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    transition: all .2 ease;

    &:hover {
        background: $component-item-bg-color;
    }

    &__container {
        margin: auto;
        width: 16px;
        height: 16px;

        & img {
            width: 16px;
            height: 16px;
        }
    }
}
