.forbidden-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 82px);

    &__auth-container {
        margin: auto;
        display: flex;
        flex-direction: column;

        & img {
            height: 300px;
            margin: 0 auto;
        }
    }

    &__login-button {
        display: flex;

        & iframe {
            margin: 0 auto;
        }
    }
}
