@import '../../../@denstep-core/const/styles.scss';

.forbidden-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 82px);

    &__auth-container {
        margin: auto;
        display: flex;
        flex-direction: column;

        & img {
            height: 300px;
            margin: 0 auto;
        }
    }

    &__login-button {
        display: flex;
        border-radius: 30px;
        cursor: pointer;
        background-color: #FFDB4D;
        transition: all 200ms ease;

        &:hover {
            background-color: #EECC45;
        }
    }

    &__login-yandex {
        padding: 16px;
        font-family: $font-family-main_bold;
        text-decoration: none;
        color: $font-color_header_dark;
        width: 100%;
        user-select: none;
        text-align: center;
    }
}
