<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>"{tmpl:"{meta.title}"}"</title>
    <style type="text/css" rel="stylesheet" href="{tmpl:"{urls.bundle.css}"}"></style>
</head>
<body>
    <div id="root"></div>
    <script>window.clientData = JSON.parse('{tmpl:"{adminData}"}');</script>
    <script src="{tmpl:"{urls.bundle.js}"}"></script>
</body>
</html>
