$primary-color: #334AC0;
$secondary-color: #6D48E5;
$primary-color_gradient: linear-gradient(91.14deg, rgb(73, 102, 247) 0px, rgb(130, 83, 255) 122.55%);

$bg-color_light: #FFFFFF;
$bg-color_dark: #F9F9F9;
$component-item-bg-color: #DBE2E9;

$font-color_header_dark: #2B2A35;
$font-color_text_dark: #545465;
$font-color_header_light: #FFFFFF;
$font-color_text_light: #FFFFFF;

$font-family-main_bold: 'MainFontBold', Eina01, sans-serif;
$font-family-main_light: 'MainFontLight', Eina01, sans-serif;
$font-family-main_extra-light: 'MainFontExtraLight', Eina01, sans-serif;
