$font-family-main: 'Open Sans', sans-serif;
$font-family-additional: 'Montserrat', sans-serif;

$text-color: #5B5777;

$theme_purple__primary-dark-color: #5B5777;

$component-item-bg-color: rgb(226, 226, 226);
$component-item-bg-dark-color: #60666D;
