$font-family-main: 'Open Sans', sans-serif;
$font-family-additional: 'Montserrat', sans-serif;

$text-color: #5B5777;

$primary-dark-color: #1538AE;
$component-item-bg-color: #DBE2E9;

$text-size: 14px;
