.not-found-page {
    display: flex;
    width: 100%;
    height: calc(100vh - 82px);

    &__container {
        margin: auto;
        display: flex;
        flex-direction: column;

        & img {
            margin: 0 auto;
        }
    }
}
