.navigation {

    &__container {
        width: 100%;

        & .MuiPaper-root span {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            color: rgb(26, 33, 76);
        }
    }
}
