.mock-airpod {
    display: flex;
    height: 100%;
    justify-content: center;

    &__image-wrapper {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        position: relative;
    }

    &__frame {
        max-height: 100%;
        max-width: 100%;
    }
}
