.bender {
    &__img {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: fixed;
        background-image: url(/public/imgs/bender.png)
    }
}
