.table-title {
    margin-left: 24px;
    height: 100px;
    display: flex;

    & h1 {
        font-family: 'Roboto', sans-serif;
        color: rgb(26, 33, 76);
        margin-left: 100px;
        margin-top: auto;
        margin-bottom: auto;
    }
}
