.iphone-mock {
    display: flex;
    width: 100%;
    height: 100%;

    &__image-wrapper {
        margin: auto;
    }

    &__phone {
        position: relative;
        display: flex;
    }

    &__phone-frame {
        z-index: 1;
        height: 250px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    &__phone-bg {
        border-radius: 25px;
        position: absolute;
        left: 1px;
        height: 100%;
        width: 98%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        &.bg-1 {
            background-image: url(/public/imgs/iphone-mock/bg1.png);
        }

        &.bg-2 {
            background-image: url(/public/imgs/iphone-mock/bg2.jpeg);
        }
    }
}
